html *
{
   font-size: 1em;
   color: #343434;
   font-weight: normal;
   font-family: 'Orienta', sans-serif;
}

#sections {
    position: relative;
    display: inline-block;
    width: 250px;
    top: 0px;
    z-index: 90;
}

svg.fixed {
    position: fixed;
}

.step {
    margin-bottom: 200px;
}

.title {
	margin: 1em 0 0.5em 0;
    font-size: 1.25em;
    font-style: "bold";
    color: #343434;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;
}